* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  min-height: 100vh;
}
.my-profile {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.App {
  margin: 90px;
}

.fullName {
  font-size: 2rem;
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.Address {
  font-size: 2rem;
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
